<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>gradle-jersey-jetty</display-name>
    <!-- 
      this portion is for making the webserver accessible to developers for the daily deployments and developments required at code base
    -->

   <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <!-- 
      this portion is for making the webserver accessible to endusers for the daily deployments and developments required at code base
    -->
    <servlet>
       <servlet-name>EmbeddedAppExample</servlet-name>
       <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
           <param-name>jersey.config.server.provider.packages</param-name>
         <param-value>api</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
       <servlet-name>EmbeddedAppExample</servlet-name>
       <url-pattern>/api/*</url-pattern>
    </servlet-mapping>


</web-app>